<p>&#3840;</p>

<h1 id="message" class="text-center"></h1>


<div class="progress" id="progressouter">
   <div class="progress-bar progress-bar-striped active" id="progress"></div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  var progresspump = setInterval(function(){
    /* query the completion percentage from the server */
    $.get("loading.json", function(data){
      /* add active class */

      /* update the progress bar width */
      $("#progress").css('width', data.count/10 +'%');
      /* and display the numeric value */
      $("#message").html(data.count +' messages retrieved');
      console.log (data);
      /* test to see if the job has completed */
      if(data.completed) {
        clearInterval(progresspump);
        $("#progressouter").removeClass('active');
        $("#message").html("Completed");
        setInterval(function(){window.location.href = "/"}, 450);
      } else if (data.job_fail) {
        $("#progressouter").removeClass('active');
        $("#message").html("There was an error, please return Home.");
      }
    })
  }, 100);});
</script>
