<div class = "row">
  <div class = "col-md-12">
    <div class = "well">
        <h4><%= "From : #{@email[:from]}" %></h4>
        <h4><%= "Date : #{@email[:sent_at]}" %></h4>
        <h4><%= "Subject: #{@email[:subject]}" %></h4>
    </div>
  </div>
</div>
<div class = "well">
  <p><%= sanitize @email.content %></p>
</div>