<div id="footer">
  <div class="container">
    <p><%= link_to icon('github-square', 'view Emailysis on Github'), "https://github.com/kencrocken/emailysis" %><p>
    <p><%= link_to icon('github-square', 'Ken Crocken'), "https://github.com/kencrocken" %></p>
  </div>
</div>